<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="CBDB" connectionString="Data Source=laptop-0vsj0ru3;Initial Catalog=CelsiusBank;Integrated Security=True;Pooling=False" />
  <add name="Celsius.Properties.Settings.CelsiusBankConnectionString"
   connectionString="Data Source=laptop-0vsj0ru3;Initial Catalog=CelsiusBank;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>